[submodule "bindings/3rdparty/pybind11"]
	path = bindings/3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "bindings/3rdparty/git-partial-submodule"]
	path = bindings/3rdparty/git-partial-submodule
	url = https://github.com/Reedbeta/git-partial-submodule.git
[submodule "bindings/3rdparty/gstreamer"]
	path = bindings/3rdparty/gstreamer
	url = https://github.com/GStreamer/gstreamer.git
	sparse-checkout = subprojects/gst-python/
[submodule "apps/dsapp"]
	path = apps/dsapp
	url = git@github.com:1zqqx/dsapp_pro.git
	branch = main
[submodule "insightface/scrfd"]
	path = insightface/scrfd
	url = git@github.com:1zqqx/scrfd2onnx.git
	branch = main
